@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: rgb(0, 0, 0);
    --cor-secundaria: white;
    --cor-terciaria: rgb(136, 176, 223);

    --font-primaria: 'krona one', 'Sans serif';
    --font-secundaria: 'Montserrat', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 11%;
}

.cabecalho__menu {
    display: flex;
    gap: 70px;
}

.cabecalho__menu_link {
    font-family: var(--font-secundaria);
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

a {
    color: var(--cor-secundaria);
}

.classe-manipuladaTeste {
    color: var(--cor-terciaria);
    text-shadow: 0.1em 0.1em 0.9em;
}


.apresentacao {
    padding: 5% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.56rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.12rem;
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.18rem;
}

.apresentacao_links_navegacao {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 15px 0px;
    text-decoration: none;
    font-family: var(--font-secundaria);
}

.apresentacao_links_link:hover {
    background-color: #272727;
    font-family: var(--font-primaria);
    font-size: 0.93rem;
}

.apresentação__imagem {
    width: 35%;
    border-radius: 100%;
}

.rodape {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 5px;
    font-family: var(--font-secundaria);
    font-size: 1.12rem;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentação__imagem {
        width: 70%;
    }

    .apresentacao_links_navegacao {
        padding: 15px 25px;
    }
}